body {
  background: #efefef;
  margin: 0px;
  padding: 25px 150px;
}

h1 {
  text-align: center;
}

h1, h2 {
  color: #444444;
}

div.contents {
  display: flex;
  justify-content: center;
}

div.contents ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  line-height: 1.75em;
}

div.input, div.output {
  background-color: #f6f6f6;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 25px 0px;
  padding: 10px 25px;
}

#input, #output {
  width: 100%;
  min-height: 100px;
}
