{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block body %}
<h1>Available Cipher</h1>
<div class="contents">
  <ul>
    <li><a href="/affine">Affine Cipher</a></li>
    <li><a href="/enigma">Enigma Cipher</a></li>
    <li><a href="/hill">Hill Cipher</a></li>
    <li><a href="/playfair">Playfair Cipher</a></li>
    <li><a href="/super-enkripsi">Super Enkripsi Cipher</a></li>
    <li><a href="/vigenere">Vigenere Cipher (Including the Variants)</a></li>
  </ul>
</div>
{% endblock %}
