{% extends "base.html" %}

{% block title %}Playfair Cipher{% endblock %}
{% block body %}
<h1>Playfair Cipher</h1>
<a href="/">Home</a>
<div class="input">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" %}
    <p>
      {% if field.widget.input_type != "submit" %}
      {{ field.label }}<br>
      {% endif %}
      {{ field }}
      {% for error in field.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    {% endfor %}
  </form>
</div>
<div class="output">
  <label for="output">Output</label><br>
  <textarea id="output" readonly>{{ output }}</textarea>
</div>
{% endblock %}
